# Fundamentos de Python

En este notebook aprenderás los conceptos básicos de Python, como variables, tipos de datos y operadores. Estos son fundamentales para comenzar a programar en ciencia de datos.

# Fundamentos de Python

## Python Notebooks
Los notebooks de Python proveen un ambiente interactivo para experimentación de código, visualización y publicación de resultados.

Las casillas de color gris claro que se encuentran a continuación se denominan celdas y estas pueden contener código (code) o texto formateado (Markdown).

* [Flechas arriba / abajo] Mover arriba y abajo de celda a celda.
* [Enter] Ingresa una celda para editarla.
* [Shift + Enter] Evalúa una celda, muestra el resultado y pasa a la siguiente celda.
* [Ctrl + Enter] Evalúa una celda, muestra el resultado y permanece en la celda.
* [Alt + Enter] Evalúa una celda, muestra el resultado e inserta una celda abajo.
* [Esc] - [D] - [D] Eliminar una celda.
* [Esc] - [Z] Deshacer eliminar una celda.
* [Esc] - [B] Insertar una celda debajo de la celda actual.
* [Esc] - [A] Insertar una celda sobre la celda actual.
* [Esc] - [M] Convierte la celda de código en markdown.
* [Esc] - [Y] Convierte la celda de Markdown a código.

Para más atajos de teclado vaya al menú Ayuda -> Atajos de teclado

In [1]:
my_name = "Wilmer Pineda" # Crear variables en el estilo snake_case

## Variables en Python

**Variable**: Es donde se guarda determinada información (texto, números, booleanas, etc.)

Cada variable tiene un nombre para referirse a ella, Python tiene en cuenta si escribimos en mayúsculas o minúsculas la variable (case sensitive).

Para definir variables en Python se realiza de la siguiente manera:

```python
# Asignando un valor
variable = valor
# Asignando varios valores
variable1, variable2 = valor1, valor2
```

Python al asignar la variable define cual es el tipo de datos más apropiado.  

### Números

En números hay dos tipos principales, los números enteros (int) y los reales (float).  El separador decimal es el punto.

```python
entero = 2
real = 2.5
```

### Texto

Las variables que almacenan texto se denominan strings (str).  Se deben de poner entre commillas sencillas o dobles, si el texto es multilinea con triple comilla.

```python
cadena = "Hola"
cadena = 'Hola'
multilinea = """ Hola
                Mundo """
multilinea = ''' Hola
                Mundo '''             
```

### Listas

Son conjuntos ordenados de elementos (números, texto, listas, etc). Se delimitan por corchetes (`[]`) y los elementos se separan por comas. Las listas son dinamicas, es decir que son mutables.

```python
listaNumeros = [1,2,3]
listaCadenas = ['a','b','c']
listaListas = [[1,2],[3,4],[5,6]]
listaMixtas = [1,'Grupo',[1,2,3,4]]
listaVacia = []
```

### Tuplas

Es un conjunto ordenado e inmutable de elementos del mismo o diferente tipo. Las tuplas se representan escribiendo los elementos entre paréntesis (`()`) y separados por comas. Las tuplas son estaticas, son inmutables, una vez creada no puede ser modificada.

```python
tuplaNumeros = (1,2,3)
tuplaCadenas = ('a','b','c')
tuplaListas = ([1,2],[3,4],[5,6])
tuplaMixtas = (1,'Grupo',[1,2,3,4])
```

### Diccionarios

Permite almacenar cualquier tipo de valor como enteros, cadenas, listas, etc.  Los diccionarios permiten además identificar cada elemento por una clave (key)

```python
dictNumeros = {'k1':1,'k2':2}
dictCadenas = {'k1':'a','k2':'b','k3':'c'}
dictListas = {'k1':[1,2],'k2':[3,4],'k3':[5,6]}
dictMixto = {'k1':1,'k2':'Grupo','k3':[1,2,3,4]}
```

### Booleano

Una variable booleana es una variable que sólo puede tomar dos posibles valores: Verdadero (True) o Falso (False).

```python
verdadero = True
falso = False
```

### None

Es el tipo de dato que en otros lenguajes se conoce como Nulo (NAN).  En Python es NoneType.

```python
nulo = None
```

### Imprimir variables

El comando `print(variable)` imprime el valor de la variable.


### Comentarios

Los comentarios en linea se define con `#`

In [2]:
# Declarando un entero (int)
x = 2
print("Es un entero: ", x)

Es un entero:  2

In [3]:
x = 5*5
print(x)

25

In [4]:
x

25

In [5]:
# Declarando un real (float)
y = 2.5
print("Es un real: ", y)

Es un real:  2.5

In [6]:
# Declarando un texto
mensaje = "Hola Mundo"
print(mensaje, " Grupo")
mensaje = 'Hola Mundo'
print(mensaje, " Grupo")

Hola Mundo  Grupo
Hola Mundo  Grupo

In [7]:
# Multilinea
multilinea = """Hola 
                Mundo"""
print(multilinea, " Grupo")
multilinea = '''Hola 
                Mundo'''
print(multilinea, " Grupo")

Hola
                Mundo  Grupo
Hola
                Mundo  Grupo

In [8]:
multilinea

'Hola \n                Mundo'

In [9]:
# Declarando una lista
listaNumeros = [1,2,3]
print(listaNumeros)
listaCadenas = ['a','b','c']
print(listaCadenas)
listaListas = [[1,2],[3,4],[5,6]]
print(listaListas)
listaMixtas = [1,'Grupo',[1,2,3,4]]
print(listaMixtas)
listaVacia = []
print(listaVacia)

[1, 2, 3]
['a', 'b', 'c']
[[1, 2], [3, 4], [5, 6]]
[1, 'Grupo', [1, 2, 3, 4]]
[]

In [10]:
listaNumeros[0] = 4

In [11]:
listaNumeros

[4, 2, 3]

In [12]:
tuplaNumeros = (1,2,3)

In [13]:
# Declarando una Tupla
tuplaNumeros = (1,2,3)
print(tuplaNumeros)
tuplaCadenas = ('a','b','c')
print(tuplaCadenas)
tuplaListas = ([1,2],[3,4],[5,6])
print(tuplaListas)
tuplaMixtas = (1,'Grupo',[1,2,3,4])
print(tuplaMixtas)

(1, 2, 3)
('a', 'b', 'c')
([1, 2], [3, 4], [5, 6])
(1, 'Grupo', [1, 2, 3, 4])

In [14]:
dict_example = {
    "glossary": {
        "title": "example glossary",
		"GlossDiv": {
            "title": "S",
			"GlossList": {
                "GlossEntry": {
                    "ID": "SGML",
					"SortAs": "SGML",
					"GlossTerm": "Standard Generalized Markup Language",
					"Acronym": "SGML",
					"Abbrev": "ISO 8879:1986",
					"GlossDef": {
                        "para": "A meta-markup language, used to create markup languages such as DocBook.",
						"GlossSeeAlso": ["GML", "XML"]
                    },
					"GlossSee": "markup"
                }
            }
        }
    }
}

In [15]:
dict_example.keys()

dict_keys(['glossary'])

In [16]:
dict_example['glossary']['GlossDiv']

{'title': 'S',
 'GlossList': {'GlossEntry': {'ID': 'SGML',
   'SortAs': 'SGML',
   'GlossTerm': 'Standard Generalized Markup Language',
   'Acronym': 'SGML',
   'Abbrev': 'ISO 8879:1986',
   'GlossDef': {'para': 'A meta-markup language, used to create markup languages such as DocBook.',
    'GlossSeeAlso': ['GML', 'XML']},
   'GlossSee': 'markup'}}}

In [17]:
# Declarando Diccionarios
dictNumeros = {'k1':1,'k2':2}
print(dictNumeros)
dictCadenas = {'k1':'a','k2':'b','k3':'c'}
print(dictCadenas)
dictListas = {'k1':[1,2],'k2':[3,4],'k3':[5,6]}
print(dictListas)
dictMixto = {'k1':1,'k2':'Grupo','k3':[1,2,3,4]}
print(dictMixto)

{'k1': 1, 'k2': 2}
{'k1': 'a', 'k2': 'b', 'k3': 'c'}
{'k1': [1, 2], 'k2': [3, 4], 'k3': [5, 6]}
{'k1': 1, 'k2': 'Grupo', 'k3': [1, 2, 3, 4]}

In [18]:
# Declarando Booleanos
verdadero = True
falso = False

In [19]:
# Declarando Nulos
nulo = None

In [20]:
# Asignaciones Múltiples
var1, var2, var3 =  ( 5 + 4),  "Sara", [13, 17, 23]
print( "var1 =", var1 )
print( "var2 =", var2 )
print( "var3 =", var3 )

var1 = 9
var2 = Sara
var3 = [13, 17, 23]

In [21]:
# Cambiar valores entre variables
var1, var2 = var2, var1 

print( "var1 =", var1 )
print( "var2 =", var2 )

var1 = Sara
var2 = 9

In [22]:
# Crear una tupla con variables
tupla = var1, var2, var3
print(tupla)

('Sara', 9, [13, 17, 23])

In [23]:
# Asignar valores de una tupla a variables
x1, x2, x3 = tupla 

print( "  x1 =", x1, "   x2 =", x2, "   x3 =", x3 )

  x1 = Sara    x2 = 9    x3 = [13, 17, 23]

## Tipo de Datos

Para conocer el tipo de dato de una variable se usa el metodo `type`

```python
type(x)
````

In [24]:
print(x)
type(x)

25

int

In [25]:
print(y)
type(y)

2.5

float

In [26]:
type(mensaje)

str

In [27]:
type(listaNumeros)

list

In [28]:
type(tuplaListas)

tuple

In [29]:
type(dictCadenas)

dict

In [30]:
type(verdadero)

bool

In [31]:
type(nulo)

NoneType

## Operadores Aritméticos

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | exponentiation |
| ~   | negation |

Python dependiendo del tipo de dato realiza las operaciones.

In [32]:
# Adición y sustracción
print(5 + 5)
print(5 - 5)

10
0

In [33]:
# Multiplicación y división
print(3 * 5)
print(10 / 2)

15
5.0

In [34]:
# Exponenciación y Modulo
print(4 ** 2)
print(18 % 7)

16
4

In [35]:
# Operaciones con cadenas
mensaje1 = "Hola "
mensaje2 = "Grupo"
print(mensaje1 + mensaje2)

Hola Grupo

In [36]:
# Operaciones con cadenas
mensaje1 = "Hola "
print(mensaje1*4)

Hola Hola Hola Hola

In [37]:
print(verdadero + falso)

1

In [38]:
print(verdadero + verdadero)

2

In [39]:
print(1 + 2.5)

3.5

## Operadores Relacionales

| Symbol | Task Performed |
|----|---|
| == | True, if values are equal |
| is | True, if identical, i.e. the **same** object  |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |
| in  | test pertenence to a collection (list, set, dictionary) |

In [40]:
x == 2

False

In [41]:
x != 2

True

In [42]:
x > 1

True

In [43]:
listaNumeros

[4, 2, 3]

In [44]:
listaNumeros == [1,2,3]

False

In [45]:
listaNumeros is [1,2,3]

False

In [46]:
objecto = listaNumeros

In [47]:
listaNumeros is objecto

True

In [48]:
nulo is None

True

## Conversiones entre tipos

Python cuenta con la conversión de tipos de datos (*cast* o *casting*) que especifica explicitamente el tipo de dato.

```python
int(variable)
float(variable)
str(variable)
bool(variable)
list(variable)
tuple(variable)
dict(variable)
```

In [49]:
# Convertir Lista a tupla
print(listaCadenas)
print(type(listaCadenas))
print(tuple(listaCadenas))
print(type(tuple(listaCadenas)))

['a', 'b', 'c']
<class 'list'>
('a', 'b', 'c')
<class 'tuple'>

In [50]:
# Convertir de cadena a entero
print('123')
print(type('123'))
print(int('123'))
print(type(int('123')))

123
<class 'str'>
123
<class 'int'>

In [51]:
float("Juan")

ValueError: could not convert string to float: 'Juan'

In [52]:
float("45.12")

45.12

## Funciones Integradas (Built-in Functions)

**Funciones:** Una función es un bloque de código con un nombre asociado, que recibe $0$ o más argumentos como entrada, sigue una serie de instrucciones y devuelve un valor o realiza una tarea.

Python dispone de una serie de funciones intregradas al lenguaje( [built-in](https://docs.python.org/3/library/functions.html))

Un ejemplo de estas funciones son las vistas en los anteriores puntos como las de convertir tipos de datos y la de imprimir.

In [53]:
# Ingresar valor por teclado
entrada = int(input("Ingrese un número entero: "))
print(str(entrada) + " elevado al cuadrado es: " + str(entrada**2))

3 elevado al cuadrado es: 9

In [54]:
# Ingresar valor por teclado
entrada = input("Ingrese un número entero: ")
print(entrada*2)

44

In [55]:
2# Valor absoluto de un numero
print(abs(-1))

1

### Ejercicio 1:


Ejecute las siguientes 3 celdas e infiera lo que hace la función round incorporada con uno o dos argumentos.

In [56]:
round( -4.78 )

-5

In [57]:
round( -3.141516297, 4 )

-3.1415

In [58]:
round( -3.141516297, 5 )

-3.14152

### Ejercicio 2:


Desde la pagina de las funciones integradas [built-in](https://docs.python.org/3/library/functions.html), consulte la forma de usar la función `min()` y `max()`.

- Cree una lista con los valores 42, 17 y 68.
- Usando la función `min()`, imprima el valor minimo.
- Usando la función `max()`, imprima el valor maximo.
- Validar si hay una función que me devuelva la suma?

In [59]:
# Su Código
lista = [42,17,68]

In [60]:
min(lista)

17

In [61]:
max(lista)

68

In [62]:
sum(lista)

127

## Ayuda 

Python cuenta con `help()` y `?` que nos devuelve una descripción de la función que queremos conocer.

In [63]:
#help(range)

In [64]:
?range

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

### Ejercicio 3:

Cree una variable llamada rango y asignele range(1, 100, 5), luego imprima la variable convirtiendola primero a lista, cual es el resultado?

In [65]:
# Su código

In [66]:
list(range(1, 100, 5))

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]